

*{
    margin: 0;
    padding: 0;
    font-family: "Nova Round", system-ui;
    font-weight: 400;
    font-style: normal;
    

}

body{
    background-image: url(./bg.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(35 47 54);
}

.container{
    
    max-width: 580px;
    margin: auto;
    color: white;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    
    
}
.profile img{
    border-radius: 50%;
    object-fit: cover;
    width: 96px; 
    height: 96px;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    
}

section{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
}

section a{
    background-color: rgb(201 76 68);
    min-height: 64px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: rgb(255, 255, 255) 8px 8px 0px 0px; 
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    text-decoration: none;

}

section a:hover{
    transform: translate(5px, 4px);
    box-shadow: 8px 8px 0px 0px;
}



.iconos{
    display: flex;
    gap: 15px;
    justify-content: center;
}
.iconos a img{
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease;
}

.iconos a img:hover{
    transform: scale(1.2);
}